#firula{
    padding: 2%;
    font-size: 200%;
    background-color: darkred;
    text-align: center;
    height: 50px;
    color:cadetblue;
    font-family: 'Fjalla One', sans-serif;
}

body{
    background-color: cadetblue;    
}

td{
    font-family: 'Anton', sans-serif;
}
