<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> lista jedi </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
    <link rel='stylesheet' href="esquilo.css">
</head>
<!--a-->
<body ng-app="app" ng-controller="ctrl">
  <section id="firula">lista jedi</section>
    <table class="ui celled table">
        <thead>
          <tr>  
                <th>nome</th>              
                <th>planeta</th>
                <th>sabre</th>
                <th>qual o seu favorito?</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="jedi in jedis">
            <td >{{jedi.nome}} </td>
            <td >{{jedi.planeta}} </td>
            <td> {{jedi.sabre}} </td>
            <td>{{jedi.status}} </button> </td>
          </tr> 
        </tbody>
      </table>
      <div>
        <p><strong ng-click="favorito()"> <button>se voce apertar 10 vezes voce ganha um pesente</button></strong></p>
        <button ng-if= $scope.vezesApertado == 1 ><strong>ME APERTA LOGO!</strong> </button>
        <p>{{$scope.link}}</p>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>